*,*:before, *:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html,body {
    height: 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
background-color: white;
border-bottom-width: 2px;
border-bottom-color: #cccccc;
border-bottom-style: solid;
}
#container {
    min-height: 100%;
}
#main {
    overflow: auto;
    padding-bottom: 50px;
}

body{
    margin: 0px 0px 0px 0px;
    background-image: url("./Background.png");
    min-height: 100%;
    width: 100%;
}
    h1 {
        background-color: #4aaaa5;
        color: white;
        padding: 15px;
        display: inline-block;
        margin-bottom: 0;
    }

    header div {
        width: 960px;
        margin: 0 129px;
        font-family: 'Georgia','Times New Roman', Times, serif;
    }

    nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline-block;
        text-align: right;
        position: relative;
        left: 480px;
    }

    li {
        display: inline;
    border-right: 1px solid #bbb;
    }
  
    li:last-child {
        border-right: none;
    }
    
     a {
        text-decoration: none;
        margin: 0px 5px;
        color: grey;
    }

        main div h2 {
            color: #4aaaa5; 
            border-bottom: solid;
            border-bottom-color: grey;
            border-width: 100%;
            padding: 15px;
            font-size: 30px;
        }


        input[type=text], select, textarea {
            width: 100%; 
            padding: 12px;   
            border: 1px solid #ccc;
            margin-top: 6px; 
            margin-bottom: 16px; 
            resize: vertical 
        }
        

        input[type=submit] {
            background-color: #4aaaa5;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        
        /*Mouse hover color */
        input[type=submit]:hover {
            background-color: #45a049;
        }
        
        /* Form background color */
        .container {
            /* border-radius: 5px;
            background-color: white;
            padding: 20px;
            margin: 10% 20%;
            border-style: solid;
            border-color: grey;
            width: 960px; */
            background-color: white;
            border-style: solid;
            border-color: grey;
            border-radius: 5px;
            padding: 18px;
            position: relative;
            top: 130px;
            width: 960px;
            margin-bottom: 130px;
            margin-left: 129px;
        }

    footer {
        /* positioning */
            position: fixed;
            height: 50px;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
        /* Colors */
            background-color: #666666;
            color: white;
            border-top: 5px solid #4aaaa5;
          }